body {
    margin: 0;
    padding: 0;
}

.main-block {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo {
    width: 100%;
    max-width: 500px;
    height: 100%;
    background: white;
    background-image: linear-gradient(#b92601, #8f0064);
}

.top {
    width: 100%;
    height: 10vh;
    background: #010977;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    font-family: arial;
    letter-spacing: .1em;
    text-shadow: 0 0 2px #000;
}

.bottom {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.item {
    background: rgba(0,0,0,.5);
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.74);
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.item-txt {
    width: 90%;
    margin: 0;
    color: white;
    padding: 10px;
    font-size: 21px;
    background: none;
    outline: none;
}

.item-dlt {
    width: 20px;
    height: 20px;
    border: 2px solid rgb(172, 0, 0);
    border-radius: 50%;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-family: arial;
}

.textarea {
    display: none;
    position: absolute;
    top: 0;
    margin: 0;
    width: 80%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 21px;
    padding: 10px 20px;
    outline: none;
    border: none;
    resize: none;
}

.add {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #336AC0;
    color: white;
    font-size: 2em;
}

.convert {
    width: auto;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    background: mediumseagreen;
    color: white;
    font-size: 1em;
    border-radius: 20px;
    padding: 2px 5px;
}